
/*-------------------------
	fonts
--------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto|Raleway:400,500,800);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Ubuntu|Bungee+Shade|Ranchers);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/*-------------------------
	body
--------------------------*/

body{
	background-color: #212121;
	color: #fff;
	font-family: 'Ubuntu';}

/*-------------------------
	css grid
--------------------------*/

#content {
	display: grid;
	margin: 0 auto;
	grid-template-rows: 4;
	align-items: center;
    justify-items: center;}

/*-------------------------
	footer
--------------------------*/

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3a3a3a;
	color: white;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	grid-column: 1/4;
    grid-row: 4;}

/*-------------------------
	videos
--------------------------*/

#videos, #videos p, #videos h3 {
  list-style: none;
  margin:0;
  padding:15;
	background-color: #212121;
	color: #fff;
  display: block;
  overflow-wrap: break-word;
  white-space: pre-wrap;
	font-family: 'Ubuntu';}

#videos > li, #videos > li > .image{
  float:left;
  margin-right:15px;}

/*-------------------------
	snip1217
--------------------------*/

.snip1217 {
	font-family: 'Raleway', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;}
.snip1217 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;}
.snip1217 li {
	display: inline-block;
	list-style: outside none none;
	margin: 0.5em 1.5em;
	padding: 0;}
.snip1217 a {
	padding: 0.3em 0;
	color: rgba(255, 255, 255, 0.5);
	position: relative;
	text-decoration: none;
	display: inline-block;}
.snip1217 a:before,
.snip1217 a:after {
	height: 3px;
	position: absolute;
	content: '';
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	background-color: #0066ff;
	width: 0;}
.snip1217 a:before {
	top: 0;
	left: 0;}
.snip1217 a:after {
	bottom: 0;
	right: 0;}
.snip1217 a:hover,
.snip1217 .current a {
	color: #ffffff;}
.snip1217 a:hover:before,
.snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
	width: 100%;}

/*-------------------------
	snip1488
--------------------------*/

.snip1488 {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  cursor: pointer;}
.snip1488 * {
  box-sizing: border-box;}
.snip1488 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
  position: relative;
  border-radius: 3px;}
.snip1488 li:before,
.snip1488 li:after {
  display: block;}
.snip1488 li:before {
  bottom: 0%;}
.snip1488 li:after {
  bottom: 50%;}
.snip1488 a {
  backface-visibility: hidden;
  color: #e6e6e6;
  display: block;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;}
.snip1488 a:hover {
  color: #ffffff;}
.snip1488 a:before {
  bottom: 25%;}
.snip1488 a:after {
  bottom: 75%;}
.snip1488 li:before,
.snip1488 li:after,
.snip1488 a:before,
.snip1488 a:after {
  background-color: #0066ff;
  position: absolute;
  height: 25%;
  left: 50%;
  right: 50%;
  content: '';
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;}
.snip1488 li:before {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;}
.snip1488 li:after {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;}
.snip1488 a:before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;}
.snip1488 a:after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;}
.snip1488 li:hover:before,
.snip1488 li.current:before,
.snip1488 li:hover:after,
.snip1488 li.current:after,
.snip1488 li:hover a:before,
.snip1488 li.current a:before,
.snip1488 li:hover a:after,
.snip1488 li.current a:after {
  left: 0;
  right: 0;
  opacity: 1;}
.snip1488 li:hover:before,
.snip1488 li.current:before {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;}
.snip1488 li:hover:after,
.snip1488 li.current:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;}
.snip1488 li:hover a:before,
.snip1488 li.current a:before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;}
.snip1488 li:hover a:after,
.snip1488 li.current a:after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;}
