/*
   ad88
  d8"                              ,d
  88                               88
MM88MMM  ,adPPYba,   8b,dPPYba,  MM88MMM
  88    a8"     "8a  88P'   `"8a   88
  88    8b       d8  88       88   88
  88    "8a,   ,a8"  88       88   88,
  88     `"YbbdP"'   88       88   "Y888
*/
@import url(https://fonts.googleapis.com/css?family=Roboto|Raleway:400,500,800);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Ubuntu|Bungee+Shade|Ranchers);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
/*
88                                 88
88                                 88
88                                 88
88,dPPYba,    ,adPPYba,    ,adPPYb,88  8b       d8
88P'    "8a  a8"     "8a  a8"    `Y88  `8b     d8'
88       d8  8b       d8  8b       88   `8b   d8'
88b,   ,a8"  "8a,   ,a8"  "8a,   ,d88    `8b,d8'
8Y"Ybbd8"'    `"YbbdP"'    `"8bbdP"Y8      Y88'
                                           d8'
                                          d8'
*/
body {
    background-color: #212121;
    color: #fff;
    font-family: 'Ubuntu';
    text-align: center;}
/*
88   88
88   ""               ,d
88                    88
88   88  ,adPPYba,  MM88MMM
88   88  I8[    ""    88
88   88   `"Y8ba,     88
88   88  aa    ]8I    88,
88   88  `"YbbdP"'    "Y888
*/
.pulse li a {
    font: 1.2em/1.4 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;}
.pulse li a:hover, .pulse li a:focus, .pulse li a:active {
    animation-name: pulse;
    animation-duration: 1s;
    background-color: #0066ff;}
/*
                         88           88
                         ""           88
                                      88
 ,adPPYb,d8  8b,dPPYba,  88   ,adPPYb,88
a8"    `Y88  88P'   "Y8  88  a8"    `Y88
8b       88  88          88  8b       88
"8a,   ,d88  88          88  "8a,   ,d88
 `"YbbdP"Y8  88          88   `"8bbdP"Y8
 aa,    ,88
  "Y8bbdP"
*/
#content {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 4;
    align-items: center;
    justify-items: center;}
/*
   ad88
  d8"                              ,d
  88                               88
MM88MMM  ,adPPYba,    ,adPPYba,  MM88MMM  ,adPPYba,  8b,dPPYba,
  88    a8"     "8a  a8"     "8a   88    a8P_____88  88P'   "Y8
  88    8b       d8  8b       d8   88    8PP"""""""  88
  88    "8a,   ,a8"  "8a,   ,a8"   88,   "8b,   ,aa  88
  88     `"YbbdP"'    `"YbbdP"'    "Y888  `"Ybbd8"'  88
*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    grid-column: 1/4;
    grid-row: 4;}
/*
             88           88
             ""           88
                          88
8b       d8  88   ,adPPYb,88   ,adPPYba,   ,adPPYba,   ,adPPYba,
`8b     d8'  88  a8"    `Y88  a8P_____88  a8"     "8a  I8[    ""
 `8b   d8'   88  8b       88  8PP"""""""  8b       d8   `"Y8ba,
  `8b,d8'    88  "8a,   ,d88  "8b,   ,aa  "8a,   ,a8"  aa    ]8I
    "8"      88   `"8bbdP"Y8   `"Ybbd8"'   `"YbbdP"'   `"YbbdP"'
*/
#videos, #videos p, #videos h3, #videos a {
    list-style: none;
    margin: 0;
    padding: 15;
    color: #fff;
    display: block;
    text-align: center;
    white-space: pre-wrap;
    text-decoration: none;
    font-family: 'Ubuntu';}
#videos li{
    width: 100%;
}
#videos li, #videos li .image {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;}
/*
88,dPYba,,adPYba,    ,adPPYba,  8b,dPPYba,   88       88
88P'   "88"    "8a  a8P_____88  88P'   `"8a  88       88
88      88      88  8PP"""""""  88       88  88       88
88      88      88  "8b,   ,aa  88       88  "8a,   ,a88
88      88      88   `"Ybbd8"'  88       88   `"YbbdP'Y8
*/
.snip1217 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;}
.snip1217 * {
    box-sizing: border-box;
    transition: all 0.35s ease;}
.snip1217 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;}
.snip1217 a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    display: inline-block;}
.snip1217 a:before, .snip1217 a:after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #0066ff;
    width: 0;}
.snip1217 a:before {
    top: 0;
    left: 0;}
.snip1217 a:after {
    bottom: 0;
    right: 0;}
.snip1217 a:hover, .snip1217 .current a {
    color: #ffffff;}
.snip1217 a:hover:before, .snip1217 .current a:before,
.snip1217 a:hover:after, .snip1217 .current a:after {
    width: 100%;
}
/*
                                                           88
                                                           88
                                                           88
,adPPYba,   ,adPPYba,  ,adPPYYba,  8b,dPPYba,   ,adPPYba,  88,dPPYba,
I8[    ""  a8P_____88  ""     `Y8  88P'   "Y8  a8"     ""  88P'    "8a
 `"Y8ba,   8PP"""""""  ,adPPPPP88  88          8b          88       88
aa    ]8I  "8b,   ,aa  88,    ,88  88          "8a,   ,aa  88       88
`"YbbdP"'   `"Ybbd8"'  `"8bbdP"Y8  88           `"Ybbd8"'  88       88
*/
.snip1488 {
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    transform: translateZ(0);}
.snip1488 * {
    box-sizing: border-box;}
.snip1488 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1em;
    overflow: hidden;
    position: relative;
    border-radius: 10px;}
.snip1488 li:before, .snip1488 li:after {
    display: block;}
.snip1488 li:before {
    bottom: 0%;}
.snip1488 li:after {
    bottom: 50%;}
.snip1488 a {
    backface-visibility: hidden;
    color: #ffffff99;
    display: block;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;}
.snip1488 a:hover {
    color: #ffffff;}
.snip1488 a:before {
    bottom: 25%;}
.snip1488 a:after {
    bottom: 75%;}
.snip1488 li:before, .snip1488 li:after,
.snip1488 a:before, .snip1488 a:after {
    background-color: #0066ff;
    position: absolute;
    height: 25%;
    left: 50%;
    right: 50%;
    content: '';
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;}
.snip1488 li:before {
    transition-delay: 0.15s;}
.snip1488 li:after {
    transition-delay: 0.05s;}
.snip1488 a:before {
    transition-delay: 0.1s;}
.snip1488 a:after {
    transition-delay: 0s;}
.snip1488 li:hover:before, .snip1488 li.current:before,
.snip1488 li:hover:after, .snip1488 li.current:after,
.snip1488 li:hover a:before, .snip1488 li.current a:before,
.snip1488 li:hover a:after, .snip1488 li.current a:after {
    left: 0;
    right: 0;
    opacity: 1;}
.snip1488 li:hover:before, .snip1488 li.current:before {
    transition-delay: 0.3s;}
.snip1488 li:hover:after, .snip1488 li.current:after {
    transition-delay: 0.1s;}
.snip1488 li:hover a:before, .snip1488 li.current a:before {
    transition-delay: 0.2s;}
.snip1488 li:hover a:after, .snip1488 li.current a:after {
    transition-delay: 0s;}
